.badge {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  width: inherit;
}

.alive {
  background-color: #c6f6d5;
  color: #2f855a;
}

.deceased {
  background-color: #feb2b2;
  color: #c53030;
}