.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  width: 70rem;
}

.textHeading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}